<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>
</head>
<body>
   <h1>Item Details</h1>
   <p><strong>Name:</strong> <%= item.name %></p>
   <a href="/users/<%= user._id %>/foods">Back to Pantry</a>
</body>
</html>